<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--seria mes correcte crear una variable d entorn per definir el path.>-->
    <add key="Path" value="C:\Sbf\JsonSbf.txt"/>
  </appSettings>
</configuration>